* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ff7a59, #ffb199);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Notification Box */
.notification {
    background: #fff;
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
    animation: slideIn 0.8s ease;
}

/* Success Icon */
.success-icon {
    font-size: 50px;
    color: #4BB543;
    margin-bottom: 20px;
    animation: bounce 1s infinite alternate;
}

/* Message */
.notification h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.notification p {
    color: #555;
    font-size: 16px;

}
.notification button{
    margin:20px;
    padding:5px;
    font-size:16px;
    border-radius: 25px;
}

/* Animations */
@keyframes slideIn {
    from { opacity: 0; transform: translateY(-30px);}
    to { opacity: 1; transform: translateY(0);}
}
@keyframes bounce {
    from { transform: translateY(0);}
    to { transform: translateY(-10px);}
}

/* Responsive */
@media(max-width: 500px){
    .notification {
        padding: 25px 20px;
    }
    .notification h2 {
        font-size: 20px;
    }
    .notification p {
        font-size: 14px;
    }
    .notification a{
        text-decoration: none;
    }
}
