 body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: rgb(58, 173, 58);;
      color: white;
      font-family: 'Poppins', sans-serif;
      text-align: center;
    }

    .success-box {
      background: rgba(255, 255, 255, 0.1);
      padding: 50px 40px;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
      animation: popIn 0.8s ease;
    }

    .success-box h1 {
      font-size: 36px;
      margin-bottom: 15px;
    }

    .success-box p {
      font-size: 18px;
      margin-bottom: 30px;
    }

    .success-box a {
      text-decoration: none;
      color: #0288d1;
      background: white;
      padding: 12px 25px;
      border-radius: 25px;
      font-weight: bold;
      transition: 0.3s;
    }

    .success-box a:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    }

    /* Animation */
    @keyframes popIn {
      0% { transform: scale(0.5); opacity: 0; }
      100% { transform: scale(1); opacity: 1; }
    }